@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .styled-scrollbar::-webkit-scrollbar {
    height: 5px;
    background-color: #fff;
    border-radius: 14px;
  }

  .styled-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e8e9eb;
    border-radius: 14px;
  }

}
